<?xml version="1.0" encoding="UTF-8"?>
<!--Open Liberty documentation does not use schema in examples.-->
<server description="Jakarta EE example server">
    <featureManager>
        <feature>servlet-6.0</feature>
        <feature>jsonb-3.0</feature>
        <feature>cdi-4.0</feature>
        <feature>faces-4.0</feature>
        <feature>restfulWS-3.1</feature>
        <feature>persistence-3.1</feature>
    </featureManager>

    <dataSource id="SimpleRpgCharactersDataSource" jndiName="jdbc/Beer">
        <jdbcDriver javax.sql.XADataSource="org.h2.jdbcx.JdbcDataSource"
                    javax.sql.ConnectionPoolDataSource="org.h2.jdbcx.JdbcDataSource"
                    javax.sql.DataSource="org.h2.jdbcx.JdbcDataSource"
                    libraryRef="H2JDBCLib"/>
        <properties URL="jdbc:h2:mem:lab1"/>
<!--        <properties URL="jdbc:h2:/tmp/lab1;AUTO_SERVER=TRUE"/>-->
    </dataSource>

    <library id="H2JDBCLib">
        <fileset dir="${wlp.install.dir}/usr/servers/defaultServer/lib/global/" includes="h2-2.2.220.jar"/>
    </library>


</server>
